<a href="https://colab.research.google.com/github/graceheng118/main/blob/master/recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Implementation of Recommendation System**

**Import Dependencies**

In [ ]:
import pandas as pd # for data manipulation (create dataframe)
import numpy as np # for scientific computing (create 3D array)

import sklearn #  for machine learning (data analysis)
# import the class containing the dimensionality reduction method
from sklearn.decomposition import TruncatedSVD # to compute largest singular value
from sklearn.metrics.pairwise import cosine_similarity # to calculate the distance between two vectors

# Make pandas display all the rows instead of truncate
pd.set_option('display.max_rows', None)

In [ ]:
from google.colab import files
uploadFile = files.upload()

Saving ecommerce_furniture1.csv to ecommerce_furniture1.csv
Saving ecommerce_order.csv to ecommerce_order.csv
Saving ecommerce_order_products.csv to ecommerce_order_products.csv
Saving ecommerce_user_views1.csv to ecommerce_user_views1.csv

**Create Dataframe**

In [ ]:
furniture_df = pd.read_csv('ecommerce_furniture1.csv')
views_df = pd.read_csv('ecommerce_user_views1.csv')
itemPurchase_df = pd.read_csv('ecommerce_order_products.csv')
order_df = pd.read_csv('ecommerce_order.csv')

In [ ]:
furniture_df.info()

In [ ]:
furniture_df.head()

   furnitureId  furnitureName  ... categoryId_id                  slug
0     53375496  KASPARAVICIUS  ...             8  furnitureid-53375496
1     54454189        LYNDSIE  ...             8  furnitureid-54454189
2     54455139       KULOISAT  ...             8  furnitureid-54455139
3     11238603        SUNDELL  ...            11  furnitureid-11238603
4     11623667        MYRADOW  ...            11  furnitureid-11623667

[5 rows x 8 columns]

In [ ]:
# drop unnecessary columns
furniture_df = furniture_df.drop(columns=['furnitureImg', 'unitPrice', 'categoryId_id', 'stock', 'slug'])
# get the top 5 items from 'furniture_df'
furniture_df.head()

   furnitureId  ...                                    furnitureGenres
0     53375496  ...             bed|bedroom casegoods|bedroom dressers
1     54454189  ...  bedroom beds and mattresses|bed accessories an...
2     54455139  ...  bedroom beds and mattresses|bed accessories an...
3     11238603  ...                   bedroom beds and mattresses|beds
4     11623667  ...                   bedroom beds and mattresses|beds

[5 rows x 3 columns]

In [ ]:
views_df.info()

In [ ]:
views_df.head()

   id  viewCount  furnitureId_id  userId_id
0   1          7        50918687          2
1   2          8        50807783          2
2   3         12        16968018          2
3   4          2        54283665          2
4   5          5        54376747          2

In [ ]:
views_df.rename(columns={'furnitureId_id':'furnitureId', 'userId_id':'userId'}, inplace=True)
views_df = views_df.drop(columns=['id'])
views_df.head()

   viewCount  furnitureId  userId
0          7     50918687       2
1          8     50807783       2
2         12     16968018       2
3          2     54283665       2
4          5     54376747       2

In [ ]:
order_df.info()

In [ ]:
order_df.head()

   orderId  orderDate  isDelivered  ...  payment_id  shippingAddress_id  userId
0  1673511  6/17/2021            1  ...           1                   1       2
1  1199898  6/18/2021            1  ...           2                   1       2
2  3194192  6/19/2021            1  ...           3                   1       2
3  1718559  6/20/2021            1  ...           4                   1       2
4  1447487  6/21/2021            1  ...           5                   2       3

[5 rows x 7 columns]

In [ ]:
order_df = order_df.drop(columns=['isDelivered','isReceived','payment_id','shippingAddress_id'])
order_df.head()

   orderId  orderDate  userId
0  1673511  6/17/2021       2
1  1199898  6/18/2021       2
2  3194192  6/19/2021       2
3  1718559  6/20/2021       2
4  1447487  6/21/2021       3

In [ ]:
itemPurchase_df.info()

In [ ]:
itemPurchase_df.head()

   id  quantity  furnitureId_id  orderId_id
0   1         1        50918687     1673511
1   2         2        50807783     1673511
2   3         1        16968018     1673511
3   4         1        54283665     1673511
4   5         2        54376747     1199898

In [ ]:
itemPurchase_df = itemPurchase_df.drop(columns=['id','quantity'])
itemPurchase_df.rename(columns={'furnitureId_id':'furnitureId', 'orderId_id':'orderId'}, inplace=True)
itemPurchase_df.head()

   furnitureId  orderId
0     50918687  1673511
1     50807783  1673511
2     16968018  1673511
3     54283665  1673511
4     54376747  1199898

**Merge Dataframe**

In [ ]:
merge_df = furniture_df.merge(views_df, on='furnitureId')
merge_df = merge_df.drop(columns=['furnitureGenres'])
merge_df.head()

   furnitureId  furnitureName  viewCount  userId
0     53375496  KASPARAVICIUS          6       2
1     53375496  KASPARAVICIUS         10       3
2     53375496  KASPARAVICIUS         10       4
3     53375496  KASPARAVICIUS          2       5
4     53375496  KASPARAVICIUS          3       6

#**Popularity-based Filtering**

This technique generates recommendations based on the views of the products. The *top 8 furniture with the highest views* will be recommended as ‘Hot Products’ to *customer*, *normal user* and *new user*.

In [ ]:
user_profile_df = views_df
user_profile_df.head()

   viewCount  furnitureId  userId
0          7     50918687       2
1          8     50807783       2
2         12     16968018       2
3          2     54283665       2
4          5     54376747       2

In [ ]:
popular_items = pd.DataFrame(merge_df.groupby('furnitureId')['viewCount'].count())
most_popular_items = popular_items.sort_values(by=['viewCount'], ascending=False)
most_popular_items.head(8)

             viewCount
furnitureId
77386578            16
53529832            15
54163670            14
53489000            14
53224267            14
52733591            14
77386660            14
52808695            14

#**Collaborative Filtering Recommendation**

This technique a model-based collaborative filtering which recommends products to customer and normal user based on customer’s purchase history and user’s browsing history.

In [ ]:
cb_merge_df = merge_df
cb_merge_df.head()

   furnitureId  furnitureName  viewCount  userId
0     53375496  KASPARAVICIUS          6       2
1     53375496  KASPARAVICIUS         10       3
2     53375496  KASPARAVICIUS         10       4
3     53375496  KASPARAVICIUS          2       5
4     53375496  KASPARAVICIUS          3       6

Step 1: Create Item-User Matrix using Pivot Table

In [ ]:
# Creating a sparse pivot table with items in rows and users in columns and fill the empty cell with 0
users_items_pivot_matrix_df = cb_merge_df.pivot_table(index='userId', columns='furnitureId', values='viewCount').fillna(0)
users_items_pivot_matrix_df.head(10)

furnitureId  721919    10189701  10442700  ...  77522688  77568877  77568915
userId                                     ...
2                 0.0       0.0       0.0  ...       0.0       0.0       0.0
3                 0.0       0.0       0.0  ...       0.0       0.0       0.0
4                 0.0       0.0       0.0  ...       0.0       0.0       0.0
5                 0.0       0.0       0.0  ...       0.0       0.0       0.0
6                 0.0       0.0       0.0  ...       0.0       0.0       0.0
7                 0.0       0.0       0.0  ...       0.0       0.0       0.0
8                 0.0       0.0       0.0  ...       0.0       0.0       0.0
9                 0.0       0.0       0.0  ...       8.0       0.0       0.0
10                0.0       0.0       0.0  ...       0.0       0.0       0.0
11                0.0       0.0       0.0  ...       0.0       0.0       0.0

[10 rows x 717 columns]

In [ ]:
# Transposing the matrix
items_users_pivot_matrix_df = users_items_pivot_matrix_df.T
items_users_pivot_matrix_df.head(10)

userId       2    3    4     5    6    7    ...  396  397  398  399  400  401
furnitureId                                 ...
721919       0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
10189701     0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
10442700     0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
10692202     0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
10728561     0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
10814181     0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
10814183     0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
11238603     0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
11253877     0.0  0.0  0.0  12.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0
11623667     0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0

[10 rows x 399 columns]

Step 2: Decompose Item-User Matrix using Truncated SVD

In [ ]:
# Create an instance of 'TruncatedSVD' class 
# n_components=50: the number of desirable components to select 
SVD = TruncatedSVD(n_components=50)

# Fit the data on the instance and then transform the data
decomposed_matrix = SVD.fit_transform(items_users_pivot_matrix_df)
decomposed_matrix.shape

(717, 10)

Step 3: Create Correlation Matrix

In [ ]:
# Compute correlation coefficients and return a matrix of Pearson correlation coefficients
correlation_matrix = np.corrcoef(decomposed_matrix)

In [ ]:
correlation_matrix

array([[ 1.        ,  0.90414923,  0.95794163, ..., -0.11857729,
         0.00503267,  0.90414923],
       [ 0.90414923,  1.        ,  0.79919589, ..., -0.1108188 ,
         0.07357971,  1.        ],
       [ 0.95794163,  0.79919589,  1.        , ..., -0.04450058,
        -0.02128418,  0.79919589],
       ...,
       [-0.11857729, -0.1108188 , -0.04450058, ...,  1.        ,
        -0.14496447, -0.1108188 ],
       [ 0.00503267,  0.07357971, -0.02128418, ..., -0.14496447,
         1.        ,  0.07357971],
       [ 0.90414923,  1.        ,  0.79919589, ..., -0.1108188 ,
         0.07357971,  1.        ]])

Step 4: List Out Items that Purchased or Viewed by the Active User

> Step 4.1 List Out All Items That Purchased By The Active User

In [ ]:
# Get all orders that made by the active user
customer_profile = order_df[order_df['userId'] == 2]
customer_profile = customer_profile.drop(columns='userId')
customer_profile.head()

   orderId  orderDate
0  1673511  6/17/2021
1  1199898  6/18/2021
2  3194192  6/19/2021
3  1718559  6/20/2021

In [ ]:
# convert dataframe to list
oid_list = customer_profile['orderId'].values.tolist()
oid_list

[1673511, 1199898, 3194192, 1718559]

In [ ]:
# Get all items from the order list of target user
all_items_purchased_list = list(Order_Products.objects.values_list('orderId', 'furnitureId'))

# List out all items from each order
items_purchased = []
for oid in oid_list:
    for i in range(len(all_items_purchased_list)):
        if oid == all_items_purchased_list[i][0]:
            items_purchased.append(all_items_purchased_list[i][1])

Output:

![image.png]()


> Step 4.2 List Out All Items That Made By The Active User

In [ ]:
viewer_profile = views_df[views_df['userId'] == 2]
viewer_profile = viewer_profile.drop(columns='userId')
viewer_profile

    viewCount  furnitureId
0           7     50918687
1           8     50807783
2          12     16968018
3           2     54283665
4           5     54376747
5           6     53655408
6           7     50394284
7           8     54219903
8           9     53500247
9           6     53375496
10         10     54454189
11          6     54455139
12          4     50493022

In [ ]:
# convert dataframe to list
itemViewed = viewer_profile['furnitureId'].values.tolist()
itemViewed

[50918687,
 50807783,
 16968018,
 54283665,
 54376747,
 53655408,
 50394284,
 54219903,
 53500247,
 53375496,
 54454189,
 54455139,
 50493022]

In [ ]:
  # Isolating items purchased by the active user from Correlation Matrix
  for i in itemViewed:
      for j in range(len(items_users_pivot_matrix_df)):
          if(items_users_pivot_matrix_df.index[j] == i):
              # print(items_users_pivot_matrix_df.index[j])
              fid_list = list(items_users_pivot_matrix_df.index) # change everything into list form
              
              # find the index(location) of the target item
              item = fid_list.index(i)
              
              # get correlation coefficients value of the item
              correlation = correlation_matrix[item]
              
              # list out items that the pearson correlation value > 0.9 
              # 0.9 suggests a strong, positive association between two variables 
              recommend_list = list(items_users_pivot_matrix_df.index[correlation > 0.90])
              
              # remove the items already bought by the active user
              recommend_list.remove(i) 

              # sort items with the highest pearson correlation value
              recommend_list.sort(reverse=True)

              # get the first 12 items
              recommend_list = recommend_list[:12]

Step 5: Make Recommendations

In [ ]:
recommend_list

[77367910,
 77283122,
 54660183,
 54615054,
 54440054,
 54376747,
 54283665,
 53655408,
 53290703,
 53290576,
 50980467,
 50918687]

#**Content-based Filtering** 
This technique recommends items to customers based on the purchase history. It generates item-item recommendations by using *cosines similarity* to measure the similarity between two products based on user and product genres.

Step 1: Data Cleaning and Exploration

In [ ]:
cb_furniture_df = furniture_df
# convert the genres that separated with pipes into a list using the "split" function
cb_furniture_df['furnitureGenres'] = cb_furniture_df.furnitureGenres.str.split('|')
cb_furniture_df.head()

   furnitureId  furnitureName  ... categoryId_id                  slug
0     53375496  KASPARAVICIUS  ...             8  furnitureid-53375496
1     54454189        LYNDSIE  ...             8  furnitureid-54454189
2     54455139       KULOISAT  ...             8  furnitureid-54455139
3     11238603        SUNDELL  ...            11  furnitureid-11238603
4     11623667        MYRADOW  ...            11  furnitureid-11623667

[5 rows x 8 columns]

In [ ]:
from collections import Counter
# Use Counter to create a dictionary containing frequency counts of each genre
genres_counts = Counter(g for genres in furniture_df['furnitureGenres'] for g in genres)
genres_counts

Counter({'accent chairs': 114,
         'accent stools': 2,
         'accent table sets': 53,
         'accent tables': 239,
         'bakers racks': 1,
         'bar serving carts': 5,
         'bath furniture cabinets': 14,
         'bathroom storage cabinets': 10,
         'bean bag seats': 6,
         'bed': 1,
         'bed accessories and parts': 2,
         'bedroom armoires': 12,
         'bedroom beds and mattresses': 264,
         'bedroom casegoods': 1,
         'bedroom casegoods and accent armoires': 12,
         'bedroom casegoods and accent dressers': 171,
         'bedroom casegoods and accent nightstands': 109,
         'bedroom casegoods and accent privacy screens': 16,
         'bedroom casegoods and accent vanity tables': 4,
         'bedroom dressers': 174,
         'bedroom furniture sets': 73,
         'bedroom nightstands': 109,
         'bedroom sets': 73,
         'beds': 179,
         'benches': 75,
         'buffet': 1,
         'buffets and  servers and  carts and bakers racks': 1,
         'cabinets and shelving and storage': 237,
         'chaise lounges': 2,
         'coffee tables': 211,
         'console tables': 133,
         'counter and bar stools': 105,
         'decorative accent decorative storage cabinets': 54,
         'decorative accent decorative storage drawers': 13,
         'decorative accent mirrors': 34,
         'decorative accent mudroom and entryway freestanding coat racks': 2,
         'decorative accent mudroom and entryway hall trees': 3,
         'decorative accent trunks': 12,
         'decorative bookshelf': 81,
         'decorative wall mirrors': 12,
         'decorative wall shelf': 13,
         'dining chairs': 175,
         'dining hutches': 1,
         'dining table sets': 170,
         'dining tables': 145,
         'drawers': 1,
         'dresser mirrors': 22,
         'folding tables': 1,
         'food-entertaining- storage and organization': 1,
         'freestanding bars': 2,
         'full length mirrors': 1,
         'gaming chairs': 4,
         'headboards': 76,
         'indoor seating': 751,
         'kids armless chair': 1,
         'kids bed': 46,
         'kids bedroom sets': 12,
         'kids beds and headboards': 58,
         'kids bench': 3,
         'kids bookcase': 12,
         'kids chair set': 5,
         'kids chairs': 23,
         'kids desk hutch': 3,
         'kids desks': 12,
         'kids dining chair': 2,
         'kids drawers and chests': 24,
         'kids dresser': 24,
         'kids footrests and ottomans': 3,
         'kids headboard': 12,
         'kids loveseat': 1,
         'kids nightstand': 8,
         'kids office chair': 3,
         'kids ottoman': 3,
         'kids recliner': 1,
         'kids rockers and gliders': 3,
         'kids rocking chair': 3,
         'kids shelving and bookcases': 12,
         'kids shelving unit': 1,
         'kids sofas and upholstered chairs': 6,
         'kids stools and hardback chairs': 14,
         'kids table': 1,
         'kids table and bin set': 2,
         'kids table and chair set': 7,
         'kids table sets': 9,
         'kids tables': 9,
         'kids upholstered chair': 3,
         'kids vanity stool': 1,
         'kitchen and dining kitchen and dining casegoods': 69,
         'kitchen carts and islands': 16,
         'loft and bunk beds': 7,
         'mattresses': 3,
         'media storage cabinets': 7,
         'modular shelf frame': 1,
         'office cabinets': 10,
         'office desks': 65,
         'office furniture sets': 8,
         'office hutch tops': 4,
         'office tables': 65,
         'ottomans': 42,
         'over the toilet etageres': 4,
         'pantry storage cabinets': 8,
         'privacy screens': 16,
         'seating and tables': 1738,
         'seating sets': 36,
         'shelving and bookcases': 95,
         'sideboard buffet servers': 28,
         'sofas': 191,
         'standalone tables': 728,
         'storage chests and  cabinets + bookcases': 25,
         'storage decorative storage cabinets': 2,
         'table sets': 223,
         'task and office chairs': 45,
         'tv and media storage': 72,
         'tv entertainment centers': 3,
         'tv stands and consoles': 62,
         'vanity tables': 4,
         'wine and bar cabinets': 7,
         'wine racks': 1})

Step 2: Transforming Data

In [ ]:
# Iterating through furniture_df, append 1 if that furniture's genres contain that genre, while "0" does not
genres = list(genres_counts.keys())
for g in genres:
    furniture_df[g] = furniture_df['furnitureGenres'].transform(lambda x: int(g in x))

furniture_df[genres].head(10)

   bed  ...  storage decorative storage cabinets
0    1  ...                                    0
1    0  ...                                    0
2    0  ...                                    0
3    0  ...                                    0
4    0  ...                                    0
5    0  ...                                    0
6    0  ...                                    0
7    0  ...                                    0
8    0  ...                                    0
9    0  ...                                    0

[10 rows x 118 columns]


Step 3: Retrieve Items From The Latest Order Made By The Active User

In [ ]:
orders = order_df[order_df['userId'] == 2]
latest_order = orders.tail(1)
latest_order

   orderId  orderDate  userId
3  1718559  6/20/2021       2

In [ ]:
# List out the items from the order
order_items = itemPurchase_df[itemPurchase_df['orderId'] == 1718559]
# order_items = itemPurchase_df.drop(columns=['userId', 'orderDate', 'orderId'])
order_items = order_items['furnitureId'].values.tolist()
order_items

[54219903, 53500247]

Step 4: Make Recommendations Using Cosine Similarity



*   measures the similarity between two vectors by calculating the cosine angle between the two vectors (e.g., A and B
*   The smaller the cosine angle, the higher the degree of similarity between A and B

![image.png]()

In [ ]:
# Build item-item recommendation using cosine similarity
cosine_sim = cosine_similarity(furniture_df[genres], furniture_df[genres])
cosine_sim

In [ ]:
# create index mapper which maps furniture ID to the index that it represents in the furniture matrix
furniture_idx = dict(zip(cb_furniture_df['furnitureId'], list(cb_furniture_df.index)))
furniture_idx

{53375496: 0,
 54454189: 1,
 54455139: 2,
 11238603: 3,
 11623667: 4,
 14574892: 5,
 14574897: 6,
 14579496: 7,
 14579528: 8,
 14580866: 9,
 15204281: 10,
 15227124: 11,
 15227423: 12,
 15229881: 13,
 16262787: 14,
 16265803: 15,
 16534287: 16,
 16534296: 17,
 17035685: 18,
 17035698: 19,
 17230171: 20,
 17230598: 21,
 17405077: 22,
 50018605: 23,
 50236222: 24,
 50238393: 25,
 50239724: 26,
 50252649: 27,
 50252657: 28,
 50252673: 29,
 50252675: 30,
 50252678: 31,
 50305554: 32,
 50502611: 33,
 50820537: 34,
 50820644: 35,
 50820685: 36,
 52174380: 37,
 52174460: 38,
 52174506: 39,
 52174509: 40,
 52179737: 41,
 52665415: 42,
 53143456: 43,
 53294805: 44,
 53294850: 45,
 53295250: 46,
 53295275: 47,
 53295279: 48,
 53295308: 49,
 53295350: 50,
 53295357: 51,
 53295410: 52,
 53295421: 53,
 53295441: 54,
 53295500: 55,
 53295507: 56,
 53295514: 57,
 53295568: 58,
 53295600: 59,
 53295605: 60,
 53295624: 61,
 53295668: 62,
 53297454: 63,
 53297472: 64,
 53297513: 65,
 53297522: 66,
 53297664: 67,
 53297817: 68,
 53297828: 69,
 53297835: 70,
 53297852: 71,
 53297927: 72,
 53297981: 73,
 53298023: 74,
 53298070: 75,
 53298075: 76,
 53298089: 77,
 53380275: 78,
 53380277: 79,
 53380546: 80,
 53380547: 81,
 53380553: 82,
 53380557: 83,
 53380563: 84,
 53408651: 85,
 53408771: 86,
 53409153: 87,
 53441741: 88,
 53441793: 89,
 53441798: 90,
 53441884: 91,
 53443346: 92,
 53443537: 93,
 53475922: 94,
 53479069: 95,
 53479083: 96,
 53479086: 97,
 53480469: 98,
 53480584: 99,
 53483577: 100,
 53483579: 101,
 53483588: 102,
 53483591: 103,
 53483600: 104,
 53483611: 105,
 53483658: 106,
 53483675: 107,
 53483978: 108,
 53484205: 109,
 53484248: 110,
 53484363: 111,
 53484600: 112,
 53555577: 113,
 53618236: 114,
 53618248: 115,
 53639194: 116,
 53640480: 117,
 53657105: 118,
 53657122: 119,
 53657162: 120,
 53657175: 121,
 53657211: 122,
 53657801: 123,
 53658135: 124,
 53683749: 125,
 53709659: 126,
 53762746: 127,
 53762772: 128,
 53762785: 129,
 53762792: 130,
 53762795: 131,
 53802987: 132,
 53818276: 133,
 53818277: 134,
 54142277: 135,
 54142327: 136,
 54148890: 137,
 54148916: 138,
 54156089: 139,
 54156121: 140,
 54156160: 141,
 54180842: 142,
 54188343: 143,
 54196254: 144,
 54209281: 145,
 54209282: 146,
 54299091: 147,
 54301555: 148,
 54301574: 149,
 54301769: 150,
 54301770: 151,
 54301777: 152,
 54346206: 153,
 54346248: 154,
 54376747: 155,
 54386631: 156,
 54392451: 157,
 54439838: 158,
 54440684: 159,
 54441204: 160,
 54443278: 161,
 54443706: 162,
 54519309: 163,
 54538736: 164,
 54607074: 165,
 54607092: 166,
 54607129: 167,
 54607504: 168,
 54607589: 169,
 54658955: 170,
 76543783: 171,
 76543791: 172,
 76543818: 173,
 76543833: 174,
 76545326: 175,
 76545342: 176,
 76545349: 177,
 77439213: 178,
 10708598: 179,
 10708600: 180,
 11253877: 181,
 14360060: 182,
 14574796: 183,
 14574853: 184,
 14579431: 185,
 14579529: 186,
 15038360: 187,
 15040331: 188,
 15040332: 189,
 15194747: 190,
 16533298: 191,
 16534290: 192,
 50069642: 193,
 50236657: 194,
 50237056: 195,
 50238388: 196,
 50240628: 197,
 50252642: 198,
 50252653: 199,
 50252674: 200,
 50807747: 201,
 50807749: 202,
 50807783: 203,
 50807800: 204,
 50807973: 205,
 50808020: 206,
 50808029: 207,
 50808161: 208,
 51014215: 209,
 51123784: 210,
 51911182: 211,
 51911364: 212,
 51912943: 213,
 51913662: 214,
 52648483: 215,
 52648484: 216,
 53185969: 217,
 53332162: 218,
 53398565: 219,
 53408463: 220,
 53460310: 221,
 53566056: 222,
 53566059: 223,
 53566061: 224,
 53566063: 225,
 53579167: 226,
 53623488: 227,
 53640479: 228,
 53657132: 229,
 53657137: 230,
 53657225: 231,
 53657794: 232,
 53709737: 233,
 53735100: 234,
 53813462: 235,
 53813876: 236,
 53815299: 237,
 53847016: 238,
 54229262: 239,
 54229277: 240,
 54320507: 241,
 54346227: 242,
 54440683: 243,
 54440685: 244,
 54441223: 245,
 54443673: 246,
 54443674: 247,
 54565827: 248,
 54566022: 249,
 54577697: 250,
 54577838: 251,
 54607666: 252,
 575983: 253,
 77392250: 254,
 50912653: 255,
 53839114: 256,
 53839116: 257,
 53839693: 258,
 53839760: 259,
 53857327: 260,
 53966620: 261,
 50093963: 262,
 53119443: 263,
 75662082: 264,
 51600068: 265,
 53043907: 266,
 53380542: 267,
 53427334: 268,
 53630191: 269,
 53661464: 270,
 53679270: 271,
 54154263: 272,
 54561534: 273,
 54579160: 274,
 54579162: 275,
 54607714: 276,
 14092185: 277,
 15038639: 278,
 15040330: 279,
 17039842: 280,
 17039847: 281,
 17039936: 282,
 17061028: 283,
 17324781: 284,
 18808855: 285,
 21494240: 286,
 21494312: 287,
 50018620: 288,
 50362117: 289,
 50362431: 290,
 50362511: 291,
 50362792: 292,
 51915245: 293,
 51986576: 294,
 51987111: 295,
 51987174: 296,
 52431663: 297,
 53016943: 298,
 53031458: 299,
 53131189: 300,
 53295335: 301,
 53295403: 302,
 53295489: 303,
 53295492: 304,
 53295515: 305,
 53295520: 306,
 53297525: 307,
 53297888: 308,
 53347082: 309,
 53352719: 310,
 53380264: 311,
 53380265: 312,
 53380271: 313,
 53380559: 314,
 53380560: 315,
 53408069: 316,
 53409200: 317,
 53441542: 318,
 53441624: 319,
 53441757: 320,
 53441769: 321,
 53441939: 322,
 53443301: 323,
 53443320: 324,
 53443363: 325,
 53443372: 326,
 53475469: 327,
 53477924: 328,
 53523601: 329,
 53523767: 330,
 53523835: 331,
 53556298: 332,
 53563757: 333,
 53566628: 334,
 53570086: 335,
 53577093: 336,
 53577231: 337,
 53579348: 338,
 53629893: 339,
 53630091: 340,
 53639399: 341,
 53654409: 342,
 53654431: 343,
 53654440: 344,
 53654465: 345,
 53657790: 346,
 53678162: 347,
 53678308: 348,
 53678382: 349,
 53678749: 350,
 53678855: 351,
 53679001: 352,
 53679266: 353,
 53688150: 354,
 53688393: 355,
 53690799: 356,
 53690837: 357,
 53690976: 358,
 53690981: 359,
 53690997: 360,
 53691114: 361,
 53691215: 362,
 53691296: 363,
 53691312: 364,
 53691836: 365,
 53847014: 366,
 54018428: 367,
 54018429: 368,
 54018430: 369,
 54018443: 370,
 54018447: 371,
 54018451: 372,
 54018453: 373,
 54018456: 374,
 54018459: 375,
 54139286: 376,
 54139579: 377,
 54139607: 378,
 54139685: 379,
 54139690: 380,
 54142267: 381,
 54198125: 382,
 54203100: 383,
 54206274: 384,
 54206993: 385,
 54207334: 386,
 54212462: 387,
 54212486: 388,
 54213010: 389,
 54213158: 390,
 54213160: 391,
 54213237: 392,
 54215434: 393,
 54215505: 394,
 54215508: 395,
 54219800: 396,
 54219881: 397,
 54220109: 398,
 54220145: 399,
 54220239: 400,
 54220248: 401,
 54229276: 402,
 54249940: 403,
 54249982: 404,
 54283103: 405,
 54300643: 406,
 54349508: 407,
 54349603: 408,
 54349630: 409,
 54452593: 410,
 54453137: 411,
 54453150: 412,
 54455490: 413,
 54456258: 414,
 54458602: 415,
 54458982: 416,
 54460777: 417,
 54461389: 418,
 54461391: 419,
 54516137: 420,
 54516492: 421,
 54518510: 422,
 54561533: 423,
 54563804: 424,
 54563848: 425,
 54563917: 426,
 54570882: 427,
 54572244: 428,
 54572246: 429,
 54575326: 430,
 54575398: 431,
 54578865: 432,
 54607683: 433,
 54607723: 434,
 54628087: 435,
 54628096: 436,
 54628299: 437,
 54659220: 438,
 54659289: 439,
 54660443: 440,
 76611962: 441,
 77378079: 442,
 77386569: 443,
 77389097: 444,
 77390685: 445,
 77391200: 446,
 77425821: 447,
 11623410: 448,
 13803720: 449,
 14092183: 450,
 14196688: 451,
 14368435: 452,
 14518589: 453,
 14544034: 454,
 15179383: 455,
 17035661: 456,
 17039059: 457,
 17039840: 458,
 17324780: 459,
 17324809: 460,
 21493429: 461,
 21494310: 462,
 46779659: 463,
 50022670: 464,
 50097265: 465,
 50362593: 466,
 50503121: 467,
 51911117: 468,
 51911404: 469,
 51913646: 470,
 51914064: 471,
 51986474: 472,
 51986610: 473,
 51987194: 474,
 52135872: 475,
 52398802: 476,
 52665370: 477,
 53015687: 478,
 53016565: 479,
 53022890: 480,
 53215796: 481,
 53295450: 482,
 53295499: 483,
 53297883: 484,
 53347060: 485,
 53352721: 486,
 53380545: 487,
 53409306: 488,
 53439566: 489,
 53441562: 490,
 53441626: 491,
 53441964: 492,
 53475776: 493,
 53480518: 494,
 53487752: 495,
 53523743: 496,
 53528779: 497,
 53529832: 498,
 53555984: 499,
 53563732: 500,
 53575072: 501,
 53609766: 502,
 53623639: 503,
 53640453: 504,
 53654475: 505,
 53654495: 506,
 53678237: 507,
 53688365: 508,
 53688475: 509,
 53689265: 510,
 53690798: 511,
 53690854: 512,
 53691085: 513,
 53691371: 514,
 53691857: 515,
 53702497: 516,
 53702517: 517,
 53702523: 518,
 53702531: 519,
 53702532: 520,
 54018431: 521,
 54018450: 522,
 54018461: 523,
 54139115: 524,
 54139153: 525,
 54139583: 526,
 54175995: 527,
 54206990: 528,
 54212571: 529,
 54212914: 530,
 54213093: 531,
 54215189: 532,
 54220229: 533,
 54228846: 534,
 54229253: 535,
 54235222: 536,
 54249747: 537,
 54250301: 538,
 54283222: 539,
 54300668: 540,
 54391864: 541,
 54452597: 542,
 54453156: 543,
 54455693: 544,
 54458619: 545,
 54458862: 546,
 54461417: 547,
 54571907: 548,
 54571908: 549,
 54571910: 550,
 54571911: 551,
 54581264: 552,
 54652874: 553,
 54659306: 554,
 54659860: 555,
 77394172: 556,
 11940409: 557,
 17302452: 558,
 17302496: 559,
 17302497: 560,
 17302745: 561,
 17302746: 562,
 17302764: 563,
 17302855: 564,
 17302874: 565,
 17302889: 566,
 17302890: 567,
 17302894: 568,
 17303067: 569,
 17303070: 570,
 17304119: 571,
 17304122: 572,
 50726834: 573,
 50727040: 574,
 54349619: 575,
 54458961: 576,
 53476019: 577,
 53476446: 578,
 53477455: 579,
 53479140: 580,
 53479259: 581,
 53479345: 582,
 53479511: 583,
 53479532: 584,
 53479559: 585,
 53479703: 586,
 53481177: 587,
 53660998: 588,
 53661014: 589,
 53661016: 590,
 53661022: 591,
 53661026: 592,
 53661505: 593,
 53664818: 594,
 53664820: 595,
 53665671: 596,
 53666096: 597,
 53667454: 598,
 53668896: 599,
 54148868: 600,
 54148874: 601,
 54153739: 602,
 54153785: 603,
 54153799: 604,
 54153805: 605,
 54153808: 606,
 54153811: 607,
 54153814: 608,
 54156083: 609,
 54156112: 610,
 54156152: 611,
 54156153: 612,
 54195888: 613,
 54195889: 614,
 54196234: 615,
 54196248: 616,
 54196253: 617,
 54298866: 618,
 54299034: 619,
 54299079: 620,
 54299089: 621,
 54405809: 622,
 54405810: 623,
 54538703: 624,
 54538705: 625,
 54605598: 626,
 54605798: 627,
 54607054: 628,
 54607067: 629,
 54607070: 630,
 54607075: 631,
 54607076: 632,
 54607085: 633,
 54607099: 634,
 54607103: 635,
 54607121: 636,
 54607122: 637,
 54607134: 638,
 54607154: 639,
 54607164: 640,
 54607165: 641,
 54607470: 642,
 54607486: 643,
 54607487: 644,
 54607501: 645,
 54629555: 646,
 54629557: 647,
 76545318: 648,
 76545340: 649,
 10814181: 650,
 14135574: 651,
 15338743: 652,
 53774444: 653,
 53861132: 654,
 54649444: 655,
 54649457: 656,
 54649487: 657,
 54649491: 658,
 54649502: 659,
 14520488: 660,
 51013941: 661,
 53861130: 662,
 54293785: 663,
 10431352: 664,
 10814170: 665,
 10814183: 666,
 14135548: 667,
 14135596: 668,
 14557989: 669,
 15325613: 670,
 15338767: 671,
 17105824: 672,
 17132615: 673,
 17341366: 674,
 50236399: 675,
 50236401: 676,
 50236510: 677,
 50277236: 678,
 50373674: 679,
 50832765: 680,
 50860914: 681,
 51923979: 682,
 52800270: 683,
 52964435: 684,
 52964437: 685,
 53481989: 686,
 53487857: 687,
 53487858: 688,
 53487859: 689,
 53487860: 690,
 53487861: 691,
 53487868: 692,
 53595062: 693,
 53676838: 694,
 53715374: 695,
 53815260: 696,
 54085211: 697,
 54149151: 698,
 54155780: 699,
 54158063: 700,
 54158110: 701,
 54163610: 702,
 54222985: 703,
 54232014: 704,
 54293902: 705,
 54313521: 706,
 54645013: 707,
 54645034: 708,
 54645037: 709,
 54645043: 710,
 54645044: 711,
 54645048: 712,
 76633135: 713,
 77361924: 714,
 77362426: 715,
 77386578: 716,
 53352739: 717,
 17141773: 718,
 17324784: 719,
 50189371: 720,
 53544631: 721,
 54194471: 722,
 54194472: 723,
 54300664: 724,
 54392156: 725,
 54392173: 726,
 54392178: 727,
 77361826: 728,
 77387197: 729,
 77387198: 730,
 16616312: 731,
 16616313: 732,
 17324785: 733,
 18820283: 734,
 49173984: 735,
 50328616: 736,
 50675087: 737,
 50726935: 738,
 50727011: 739,
 50727054: 740,
 52457806: 741,
 53397416: 742,
 13716336: 743,
 13716377: 744,
 13908802: 745,
 14500158: 746,
 14546194: 747,
 14546221: 748,
 14963278: 749,
 16707750: 750,
 16908234: 751,
 44366463: 752,
 50522961: 753,
 50536370: 754,
 50536371: 755,
 51117863: 756,
 52119256: 757,
 52478989: 758,
 52667024: 759,
 52701833: 760,
 52725915: 761,
 52725916: 762,
 52725924: 763,
 52725925: 764,
 52785583: 765,
 53016034: 766,
 53267205: 767,
 53346466: 768,
 53408534: 769,
 53429501: 770,
 53440571: 771,
 53496428: 772,
 53619600: 773,
 53676625: 774,
 53717178: 775,
 53848170: 776,
 53855639: 777,
 54149136: 778,
 54164005: 779,
 54164617: 780,
 54212657: 781,
 54260669: 782,
 54284090: 783,
 54408581: 784,
 54491536: 785,
 54491643: 786,
 54561618: 787,
 54564443: 788,
 54569284: 789,
 54569394: 790,
 54571915: 791,
 54572292: 792,
 54579336: 793,
 54581176: 794,
 54581178: 795,
 54581194: 796,
 54581196: 797,
 54581262: 798,
 54644948: 799,
 77289389: 800,
 77424311: 801,
 77521900: 802,
 11358940: 803,
 17305432: 804,
 17305433: 805,
 49131071: 806,
 53197374: 807,
 53291545: 808,
 53291554: 809,
 53291575: 810,
 53566033: 811,
 54300188: 812,
 54459869: 813,
 76790386: 814,
 53898209: 815,
 53927274: 816,
 54376773: 817,
 77295340: 818,
 77341060: 819,
 77362041: 820,
 77362105: 821,
 51989330: 822,
 53672710: 823,
 53688715: 824,
 17039073: 825,
 17072646: 826,
 49180880: 827,
 50994863: 828,
 52045359: 829,
 52075756: 830,
 52078877: 831,
 52081393: 832,
 52357117: 833,
 52509899: 834,
 53274306: 835,
 53291498: 836,
 53291507: 837,
 53291559: 838,
 53409662: 839,
 53475846: 840,
 53482444: 841,
 53493562: 842,
 53539988: 843,
 53595064: 844,
 53678850: 845,
 53815257: 846,
 53829907: 847,
 53844200: 848,
 54085194: 849,
 54163670: 850,
 54204437: 851,
 54212622: 852,
 54224542: 853,
 54232012: 854,
 54244106: 855,
 54346046: 856,
 54408604: 857,
 54408674: 858,
 54408676: 859,
 54408678: 860,
 54491488: 861,
 54491490: 862,
 54491492: 863,
 54491494: 864,
 54491495: 865,
 54491496: 866,
 54491500: 867,
 54491517: 868,
 54491519: 869,
 54491523: 870,
 54491535: 871,
 54491553: 872,
 54491608: 873,
 54493732: 874,
 54579165: 875,
 54581135: 876,
 54581548: 877,
 54609057: 878,
 76880164: 879,
 77342335: 880,
 77386652: 881,
 77386654: 882,
 77386655: 883,
 77386659: 884,
 77386660: 885,
 77386661: 886,
 14137991: 887,
 16857171: 888,
 50301089: 889,
 51472297: 890,
 51577977: 891,
 51587263: 892,
 52215798: 893,
 52504569: 894,
 53022165: 895,
 53098248: 896,
 53291053: 897,
 17039067: 898,
 17061029: 899,
 49167007: 900,
 51237607: 901,
 51239046: 902,
 51239304: 903,
 53441808: 904,
 53443296: 905,
 53443548: 906,
 53639309: 907,
 54198228: 908,
 54205696: 909,
 54205703: 910,
 54206385: 911,
 54207177: 912,
 54212544: 913,
 54213041: 914,
 54213233: 915,
 54215670: 916,
 54219762: 917,
 54219903: 918,
 54220117: 919,
 50726870: 920,
 14500224: 921,
 50726847: 922,
 53409712: 923,
 53566010: 924,
 53566035: 925,
 18814708: 926,
 18814729: 927,
 54156139: 928,
 54156143: 929,
 54156145: 930,
 54573896: 931,
 54573908: 932,
 54607459: 933,
 54607468: 934,
 54607482: 935,
 54607596: 936,
 54607599: 937,
 17234359: 938,
 17459839: 939,
 17459844: 940,
 49167098: 941,
 49172544: 942,
 51248478: 943,
 51252976: 944,
 51253011: 945,
 51463632: 946,
 51575292: 947,
 51584639: 948,
 52437625: 949,
 52437738: 950,
 52437858: 951,
 52648458: 952,
 53089568: 953,
 53295459: 954,
 53380549: 955,
 53398855: 956,
 53483738: 957,
 53483874: 958,
 53627545: 959,
 53632433: 960,
 53657919: 961,
 53818217: 962,
 53839127: 963,
 53839473: 964,
 53839749: 965,
 53839757: 966,
 53839769: 967,
 54142201: 968,
 54156148: 969,
 54156149: 970,
 54206200: 971,
 54245392: 972,
 54301581: 973,
 54454738: 974,
 54454741: 975,
 54455054: 976,
 54599702: 977,
 54599704: 978,
 54639169: 979,
 54639410: 980,
 54640647: 981,
 54640650: 982,
 54659308: 983,
 13769122: 984,
 16511328: 985,
 49174311: 986,
 51783284: 987,
 52670207: 988,
 53399045: 989,
 53630461: 990,
 53641309: 991,
 53825700: 992,
 54142210: 993,
 54142382: 994,
 54245393: 995,
 49166590: 996,
 51238886: 997,
 53405016: 998,
 53839604: 999,
 ...}

In [ ]:
# remove the items that the active user viewed or purchased in the recommendation list
def removeViewedItem(uid,similar_items):
  cb_viewer_profile_df = viewer_profile    

  for i in cb_viewer_profile_df:
      for j in similar_items:
          if i == j:
              similar_items.remove(j)
  
  return similar_items

In [ ]:
# recommend the top 12 most similar item to each order item
recommend_list = []

for i in order_items:
    # find the location of the target item
    fid = furniture_idx[i]
    
    # Add counter to the list e.g. [(0, 'a'), (1, 'b'), (2, 'c')]
    sim_scores = list(enumerate(cosine_sim[fid]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get top 100 most similar items to target item.
    sim_scores = sim_scores[:100]
    # Get the row index
    similar_furniture = [i[0] for i in sim_scores]

    # remove items that viewed before in the list
    items = list(furniture_df['furnitureId'].iloc[similar_furniture])
    recommend_furniture = removeViewedItem(2,items)

    # recommend_list.append(list(furniture_df['furnitureId'].iloc[similar_furniture]))
    recommend_list.append(recommend_furniture[:12])

In [ ]:
recommend_list

[[17039067,
  17061029,
  49167007,
  51237607,
  51239046,
  51239304,
  53441808,
  53443296,
  53443548,
  53639309,
  54198228,
  54205696],
 [10422900,
  10728190,
  11358386,
  15119860,
  15411782,
  15566879,
  15623402,
  15623403,
  15623404,
  15672488,
  16645770,
  16645771]]